body {
    /*padding-left: 5em; */
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: black;
    background-color: #dddddd }

  .dropbtn {
      background-color: #333333;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: 2px;
      margin: 5px;
  }

  .dropbtn2 {
      background-color: #666666;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: 2px;
      margin: 5px;
  }

  .dropbtn3 {
      background-color: #999999;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: 2px;
      margin: 5px;
  }

  .dropbtn4 {
      background-color: #3e8e41;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: 2px;
      margin: 5px;
  }

  .dropdown {
      position: relative;
      display: inline-block;
  }

  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 100px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}

  .dropbtn:hover {background-color: #3e8e41;}
  .dropbtn2:hover {background-color: #3e8e41;}
  .dropbtn3:hover {background-color: #3e8e41;}

  a:link {
    color: blue }
  a:visited {
    color: purple }
  address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }

  img {
      width: 100%;
      object-fit: contain;
  }

  .grid {
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .grid > div {
    display: flex; 
    flex-basis: calc(50% - 10px);  
    justify-content: center;
    flex-direction: column;
    margin: 5px;
  }
  .grid > div > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }